<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xx55xx.mapper.OrderMapper">

    <resultMap id="OrderEntity" type="cn.xx55xx.entity.OrderEntity">
        <id property="orderId" column="order_id"></id>
        <result property="orderNumber" column="order_number"/>
        <result property="buyerId" column="buyer_id"/>
        <result property="productId" column="product_id"/>
        <result property="productCount" column="product_count"/>
        <result property="recipientId" column="recipient_id"/>
        <result property="orderDate" column="order_date"/>
        <result property="payType" column="pay_type"/>
        <result property="totalMoney" column="total_money"/>
        <result property="freight" column="freight"/>
        <result property="orderState" column="order_state"/>


    </resultMap>

    <insert id="insertOrder" parameterType="cn.xx55xx.entity.OrderEntity" >
      INSERT INTO ORDER_INFO(order_id, order_number, buyer_id, product_id, product_count, recipient_id, total_money,order_state)
        values(null ,#{orderNumber},#{buyerId},#{productId},#{productCount},#{recipientId},#{totalMoney},#{orderState})
    </insert>

    <select id="getOrdersByBuyerId" resultMap="OrderEntity" parameterType="java.lang.Integer">
		SELECT * FROM ORDER_INFO where buyer_id =#{buyerId}
	</select>



</mapper>